body{
    background-color: rgb(3, 141, 95);
    color: rgba(3, 137, 28, 0.756);
    font-size: 16px;
    background-image: url(dark-hexagonal-background.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    

}
h1{
    color: rgba(224, 173, 7, 0.811);
    font-size: 50px;
    text-align: left;
    margin-left: 60px;
}
h2{
    color: blueviolet;
    text-align: left;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
}

p{
    color: rgb(2, 181, 181);
    margin: 20px;
    font-size: 18px;
}

ul{
    color: rgb(2, 181, 181);
    font-size: 20px;
    margin-left: 65px;
}


* {
    box-sizing: border-box;
  }
  
  
  .logo{
    text-shadow: 2px 2px 2px #000000;
    color:rgb(102, 206, 137);
    margin: 25px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #5a6001 , #025815);
    color: #3D0E61;
    height: 90px;
    padding: 20px;
    font-weight:bolder;
    font-size:35px;
  }
  .menu li:hover{
    color:rgb(153, 8, 8);
    cursor:pointer;
    background-color:rgb(181, 3, 181);
  
  }

  .menu a{
    color:#0773a9;
    text-decoration: none;
    height:inherit;
    width: inherit;
    margin:0;
    padding:0;
    text-align: center;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #919405;
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 98px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .menu li {
      border: 3px solid #1f8907;
      height: 2.5em;
      
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 95.8%;
      background-color: #b2d437;
      
    }
    
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
   
    }
    .menu a{
      color:#064b6e;
      text-decoration: none;
      height: 100%;
      width: 105%;
      margin:0;
      padding:0;
      text-align: center;
    }
  }

.active{
  background-color:rgb(181, 3, 181);
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
}


table{
    color:rgb(3, 3, 105);
    background-color: rgb(135, 179, 164);
    max-width: 90%;
    margin: 25px;
    margin-top: 50px;
    
    
}

td{
    background-color: rgba(1, 76, 7, 0.968);
    color: rgb(180, 210, 9);
    padding: 8px;
}

th{
    background-color:rgb(66, 132, 3);
    padding: 9px;
}

.job1{
    background-color: #7719be6a;
    padding: 20px;
    height: 250px;
    width: 45%;
    margin: 20px;
    
    
}
.job2{
  background-color:#0773a96b;
  padding: 20px;
  height: 250px;
  width: 45%;
  top: -190px;
  right:40px;
  left: -15px;
  float: right;
  position: relative;
  z-index: -1;
  
}

.job3{
  background-color: #f1f50e51;
  padding: 20px;
  height: 250px;
  width: 45%;
  margin: 20px;
}
.jobh2{
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jobp{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.about{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}
.aboutsection{
  background-color: #7719be6a;
  padding: 20px;
  height: 250px;
  width: 45%;
  margin: 20px;
  
  
}

#mypic{
  background-color:#0773a96b;
  padding: 20px;
  height: 300px;
  width: 45%;
  margin: 20px;
  top: -190px;
  align-items: center;
  float: right;
  position: relative;


}
#tommi{
  height:80%;
  width: auto;
  margin: 30px;
  
}
.aboutsection2{
  background-color: #f1f50e51;
  padding: 20px;
  height: 250px;
  width: 45%;
  margin: 20px;
  top: 0px;
  
}


@media (max-width: 700px) {
  .about{
    margin: 10px;
    font-size: 17px;
  }

  .aboutsection{
    background-color: #7719be6a;
    padding: 20px;
    height: 250px;
    width: 90%;
    margin: 20px;
    
    
  }
  #mypic{
    background-color:#0773a96b;
    padding: 20px;
    height: 300px;
    width: 90%;
    margin: 20px;
    top: 0px;
    float:none;
  }
  #tommi{
    margin:30px;
    height:80%;
    width: auto;
    
  }

  .aboutsection2{
    background-color: #f1f50e51;
    padding: 20px;
    height: 300px;
    width: 90%;
    margin: 20px;
    
    
    
    
    
  }
}