body{
    background-color: rgb(3, 141, 95);
    color: rgba(3, 137, 28, 0.756);
    font-size: 16px;
    background-image: url(dark-hexagonal-background.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    

}
h1{
    color: rgb(10, 204, 234);
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}
h2{
    color: rgb(222, 173, 13);
    font-family:  serif;
    margin-left: 20px;
}
p{
    color: rgb(217, 217, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 40px;
}
h3{
    color: rgb(217, 217, 224);
    margin-left: 50px;
}
a{
    color: aquamarine;
    font-size: 16px;
    margin-left: 30px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    width: 10vw;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration:none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e0be4caa;
    color: white;
  }
table{
    color:rgb(3, 3, 105);
    background-color: rgb(178, 231, 213);
    width: 10vw;
}
td{
    background-color: blanchedalmond;
    color: rgb(137, 24, 4);
}
th{
    background-color:rgb(189, 255, 127);
}