body{
    background-color: rgb(3, 141, 95);
    color: rgba(3, 137, 28, 0.756);
    font-size: 16px;
    background-image: radial-gradient(rgba(8, 146, 17, 0.792),rgba(16, 13, 108, 0.688));
    background-size: cover;
    background-repeat: repeat;

}
h1{
    color: rgb(10, 204, 234);
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}
h2{
    color: rgb(222, 173, 13);
    font-family:  serif;
    margin-left: 20px;
}
p{
    color: rgb(217, 217, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 40px;
}
h3{
    color: rgb(217, 217, 224);
    margin-left: 50px;
}
a{
    color: aquamarine;
    font-size: 16px;
    margin-left: 30px;
}