body{
    background-image: url("dark-hexagonal-background.jpg");
    background-position: center;

}
h1{
    color: rgba(224, 173, 7, 0.811);
    font-size: 50px;
    text-align: left;
    margin-left: 40px;
}
h2{
    color: blueviolet;
}
p{
    color: aquamarine;
    margin: 20px;
}
a{
    margin-left: 20px;
    color: rgb(255, 2, 238);
    font-size: 20px;
}
ul{
    color: aqua;
    font-size: 20px;
}